@model passwordModel;
@using PasswordGenerator.Models
@using PasswordGenerator.Controllers

<body class="background-image">
    
    <div>
        <br />
        <br />
        <h2 class="pass">
            <span><label>Your Generated Password:</label></span>
            <span>@Model.Password</span>
        </h2>
    </div>
</body>