

<body>
    <form>
        <div>
            <span>Length</span>
            <span><input type="text" placeholder="Length"/></span>
        </div>
        <div>
            <span>ABC:</span>
            <span><input type="checkbox" checked="checked" /></span>
        </div>
        <div>
            <span>abc:</span>
            <span><input type="checkbox" checked="checked" /></span>
        </div>
        <div>
            <span>123:</span>
            <span><input type="checkbox" checked="checked"/></span>
        </div>
        <div>
            <span>!#$:</span>
            <span><input type="checkbox" onchange=""/></span>
        </div>
        <div>
            <button type="button" onclick="GetPassword()">Generate Password</button>
        </div>
    </form>
    
</body>
@*<span onchange="generate()"><input id="ctl00_MainContent_chkIncludeLowerChar" 
    type="checkbox" name="ctl00$MainContent$chkIncludeLowerChar" 
    checked="checked"><label for="ctl00_MainContent_chkIncludeLowerChar"> (e.g. abcdef)</label></span>*@